// Variables de colores
$ColorPrincipal: #682040;
$ColorSecundario: #f73e94;
$ColorTerciario: white;
$ColorExtra: #ffcbe8;

// Espaciadores
$EspacioL-estandar: 2px;

// Tamaños
$TamañoL-estandar: 18px;
$TamañoL-mediano: 22px;
$TamañoL-grande: 28px;

// Bordes
$BordesRedondos: 50%;

// Fuentes
$FuenteL-general: "Patrick Hand";
$FuenteL-alternativa: "Modern Love Caps";
$FuenteL-titulos: 'Pacifico', cursive;
$FuenteL-subtitulos: "Modern Love Caps";
