.Galeria{
    display: flex;
    width: 100%;
    height: 80%;
}

.Galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(100%);
    transition: .7s ease;
}

.Galeria img:hover {
    width: 500px;
    opacity: 1;
    filter: brightness(150%);
}