body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 100%;
}

/* Navegación */
nav {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color:#f37cb4;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 150px;
    margin-right: auto;
}

nav a {
    background-color: beige;
    margin: 0px 10px ;
    padding: 10px;
    border: black;
    font-size: 20px;
}

/* Contenedor */
.container {
    display: grid;
    grid-template-columns: auto;
    background-image: url(imagenes/Fondo.png);
    background-position: center;
}

/* Banner */
.Banner {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 150px;
}

/* Galería */
.Galeria {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    height: 550px;
    padding: 10px;
    margin-top: 140px;
}

.Galeria-item {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 450px;
    text-align: center;
}

.Galeria-item img, .Galeria-item video {
    max-width: 100%;
    max-height: 75%;
}

.Galeria-item p {
    font-size: 25px;
}

/* Imagen y Texto */
.Imagen-Texto {
    background-color: #FAEBA6;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    height: 550px;
    width: 90%;
    margin: 90px;
    border-color: #f7dd6e;
    border-width: 10px;
    border-style: dotted;
}

.Imagen-Texto img {
    width: 650px;
    height: 450px;
    grid-row: span 3;
    margin: 50px 100px;
    
}

.Imagen-Texto h2 {
    font-size: 30px;
    text-align: center;
    margin: 90px 100px ;
}

.Imagen-Texto p {
    font-size: 25px;
    text-align: center;
    margin: -30px 100px ;
}

/* Footer */
footer {
    display: grid;
    justify-items: space-between;
    padding: 20px;
    background-color: #f37cb4;
    align-content: center;
    width: 100%;
    height: 300px;
    grid-template-rows: 90% 10%;
    grid-template-columns: 40% 25% 25% 10%;
    margin-top: 100px;
}

.Texto h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: 3px;

}

.Texto p{
    font-size: 17px;
    text-align: center;
    margin: 0px 50px;
    line-height: 2;
}

.link-footer h3 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;

}

.link-footer ul a {
    font-size: 17px;
    line-height: 2;
    letter-spacing: 2px;
    letter-spacing: 3px;

}

.contactos img {
    max-width: 50%;
    max-height: 50%;
}

.contactos h3 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;

}

footer p {
    text-align: center;
    grid-column: span 4;
    font-size: 20px;
}

/* Contewnedor para LOGIN/REGISTRO */
.containerFormulario {
    display: grid;
    justify-items: center;
    background-image: url(imagenes/FondoRegistro.png);
    background-position: center center;
    background-size: 100% 80%;
}

form h1{
    text-align: center;
    grid-column: span 2;
}

/* Formulario Login */
.Login{
    background-color: #f7accf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 600px;
    border-color: #fd7bb8;
    border-width: 8px;
    border-radius: 8%;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
}

.Login-item{
    position: relative;
    height: 60px;
    width: 90%;
    margin-bottom: 10px;
}

.Login-item label{
    position: absolute;
    top: 15px;
    left: 60px;
    padding: 0 4px;
    color: #000000;
    font-size: 17px;
}

.Login-item input{
    position: absolute;
    top: 5px;
    left: 180px;
    height: 80%;
    width: 50%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 17px;
    padding: 0 20px;
}

.Login-item button{
    position: absolute;
    left: 170px;
    top: 20px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #fd7bb8;
}

.Login-item a{
    position: absolute;
    left: 400px;
    top: 30px;
    font-size: 20px;
}

/* Formulario Registro */
.Registro{
    background-color: #f7accf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    width: 700px;
    border-color: #fd7bb8;
    border-width: 8px;
    border-radius: 8%;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
}

.Registro-item{
    position: relative;
    height: 60px;
    width: 90%;
    margin-bottom: 10px;
}

.input{
    position: absolute;
    top: 5px;
    left: 180px;
    height: 80%;
    width: 50%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 17px;
    padding: 0 20px;
}

.label{
    position: absolute;
    top: 15px;
    left: 50px;
    padding: 0 4px;
    color: #000000;
    font-size: 17px;
}

.Registro button{
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: 60px;
    background-color: #fd7bb8;
}

.Sexo-Radio{
    position: absolute;
    top: 15px;
    left: 170px;
    width: 70%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.label-sexo{
    font-size: 17px;
}

.Intereses{
    cursor: pointer;
    position: absolute;
    width: 70%;
    left: 170px;
}

.label-interes{
    font-size: 17px;
}

.label-perfil{
    position: absolute;
    top: 75px;
    left: 50px;
    font-size: 17px;
}

.input-perfil{
    position: absolute;
    top: 75px;
    left: 170px;
    height: 200px;
    width: 500px;
}
