* {             /*Selector universal*/
    margin: 0 0;
    padding: 0;
    font-family: "Patrick Hand", "Modern Love Caps";
}

.FondoPastel {      /*Selector de clase*/
    background-image: url(imagenes/Fondo.png);
    background-size: auto;
}

.FondoFormulario {
    background-image: url(imagenes/FondoRegistro.png);
    background-size: auto 100%;
    background-position: center;
}

p {             /*Selector de tipo*/
    font-size: 19px;
    text-align: center;
}

ul{             /*Selector de tipo*/
    font-size: 18px;
    line-height: 2;
}

h3{             /*Selector de tipo*/
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: 3px;
    font-family: "Modern Love Caps";
}

/* Navegación */
nav {           /*Selector de tipo*/
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color:#f37cb4;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

nav img {       
    width: 130px;
    margin-right: auto;
}

nav a {
    background-color: beige;
    margin: 0px 10px ;
    padding: 10px;
    border: black;
    font-size: 18px;
}

/* Banner */
.Banner {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 70px;
}

/* Galería */
.Galeria {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    width: 90%;
    height: 550px;
    padding: 10px;
    margin: 0 auto;
}

.Galeria-item {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 400px;
    text-align: center;
}

.Galeria-item img, .Galeria-item video {
    max-width: 100%;
    max-height: 75%;
}

/* Imagen y Texto */
.Imagen-Texto {
    background-color: #92C5FC;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: auto auto;
    height: 550px;
    width: 90%;
    margin: 0 auto;
    border-color: #5ea8f7;
    border-width: 10px;
    border-style: dotted;
    align-items: center;
    justify-content: center;
}

.Imagen-Texto img {
    width: 500px;
    height: 400px;
    grid-row: span 3;
    margin: auto 50px;
    border: 4px solid #ffffff ;
}

#TituloCuadro{          /*Selector de id*/
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
}

#TextoCuadro{           /*Selector de id*/
    text-align: center;
    margin: auto;
    width: 80%;
}

/* Footer */
footer {    /*Selector de tipo*/
    display: grid;
    justify-items: space-between;
    padding: 20px;
    background-color: #f37cb4;
    align-content: center;
    width: 100%;
    height: 300px;
    grid-template-rows: 90% 10%;
    grid-template-columns: 40% 25% 25% 10%;
    margin-top: 100px;
}

.Texto p{
    font-size: 17px;
    text-align: center;
    margin: 0px 50px;
    line-height: 2;
}

.RedesSociales img {
    max-width: 50%;
    max-height: 50%;
}

.RedesSociales h3 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;

}

footer p {
    text-align: center;
    grid-column: span 4;
    font-size: 20px;
}

/* Formulario */
form h1{         /*Selector de tipo*/
    text-align: center;
    grid-column: span 2;
}

/* Formulario Login */
#Login{
    background-color: #f7accf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 600px;
    border-color: #fd7bb8;
    border-width: 8px;
    border-radius: 8%;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

#Login, #TituloForm{
    margin-bottom: 50px;
}

.Login-item{
    position: relative;
    height: 60px;
    width: 90%;
    margin-bottom: 10px;
}

.Login-item label{
    position: absolute;
    top: 15px;
    left: 60px;
    padding: 0 4px;
    color: #000000;
    font-size: 17px;
}

.Login-item input{
    position: absolute;
    top: 5px;
    left: 180px;
    height: 80%;
    width: 50%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 17px;
    padding: 0 20px;
}

#Login button{
    position: absolute;
    left: 170px;
    top: 20px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #fd7bb8;
}

.Login-item a{
    position: absolute;
    left: 400px;
    top: 30px;
    font-size: 20px;
}

/* Formulario Registro */
#Registro{
    background-color: #f7accf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    width: 700px;
    border-color: #fd7bb8;
    border-width: 8px;
    border-radius: 8%;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

#Registro, #TituloForm{
    margin-bottom: 50px;   
}
.Registro-item{
    position: relative;
    height: 60px;
    width: 90%;
    margin-bottom: 10px;
}

.input{
    position: absolute;
    top: 5px;
    left: 180px;
    height: 80%;
    width: 50%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 17px;
    padding: 0 20px;
}

.label{
    position: absolute;
    top: 15px;
    left: 50px;
    padding: 0 4px;
    color: #000000;
    font-size: 17px;
}

#Registro button{
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: 60px;
    background-color: #fd7bb8;
}

.Sexo-Radio{
    position: absolute;
    top: 15px;
    left: 170px;
    width: 70%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.label-sexo{
    font-size: 17px;
}

.Intereses{
    cursor: pointer;
    position: absolute;
    width: 70%;
    left: 170px;
}

.label-interes{
    font-size: 17px;
}

.label-perfil{
    position: absolute;
    top: 75px;
    left: 50px;
    font-size: 17px;
}

.input-perfil{
    position: absolute;
    top: 75px;
    left: 170px;
    height: 200px;
    width: 500px;
}

/* Nosotros */

/* Historia + Galeria */
.Historia-Galeria{
    display: grid;
    grid-template-columns: 20% 40% 20%;
    justify-content: center;
    column-gap: 50px;
    height: 800px;
    width: 90%;
    margin: 0 auto;
}

.Galeria-Vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fd7bb8;
    width: 100%;
}

.Vertical-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
}

.Vertical-item img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.Vertical-item::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.Vertical-item:hover img{
    filter: grayscale(1)
    brightness(0.4);
}

.Vertical-item:hover ::after{
    opacity: 1;
    inset: 20px;
}
.Vertical-item:hover .Contenido h2{
    scale: 1;
    opacity: 1;
}

.Vertical-item:hover .Contenido p{
    opacity: 1;
    transform: translateY(0);
}

.Historia-item{
    background-color: #92C5FC;
    width: 80%;
    font-size: 17px;
    padding: 50px;
    margin:50px auto;
    text-align: center;
}

/* Misión + Visión + Equipo + Compromiso */
.Informacion {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    height: 900px;
    padding: 10px;
    margin-top: 140px;
}

.Informacion-item {
    background-color: #FAEBA6;
    padding: 20px;
    width: 20%;
    height: 520px;
    text-align: center;
    border: #f7dd6e solid 5px;
    -webkit-transition: background-color 1s linear;
    transition: background-color 1s linear;
}

.Informacion-item img {
    max-width: 60%;
    max-height: 60%;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.Informacion-item img:hover{
    opacity: 0.2;
}

.Informacion-item h2{
    text-align: center;
    font-size: 30px;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
}

.Informacion-item h2:hover{
    font-size: 35px;
}


.InfoExtra-item h2{
    text-align: center;
    font-size: 35px;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
}

.InfoExtra-item h2:hover{
    font-size: 40px;
}

/* */
.InfoExtra {
    display: grid;
    justify-items: center;
    background-color: #f37cb4;
    grid-template-columns: 30% 60%;
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.GaleriaInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
    margin: auto auto;
    padding: 20px;
}

.GaleriaInfo-item{
    background-color:#FAEBA6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    border: #f7dd6e solid 5px;
}

.GaleriaInfo-item img{
    max-width: 100%;
    max-height: 100%;
}

.InfoExtra-item {
    background-color: #FAEBA6;
    width: 80%;
    height: 290px;
    font-size: 17px;
    padding: 80px;
    margin: auto auto;
    text-align: justify;
}

.InfoExtra-item span{
    color: #e72a82;
    font-size: 21px;
}
/* UBICACION */
.ubicacion-mensaje {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #92C5FC;
    margin: 200px auto;
    width: 90%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.ubicacion-item{
    background-color: #fd7bb8;
    height: 80%;
    width: 90%;
    margin: auto auto;
}

.ubicacion-item img{
    width: 100%;
    height: 100%;
}

.mensaje-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 20px ;
}

.input-mensaje{
    height: 30px;
    width: 70%;
    border: 3px solid #5ea8f7;
    font-size: 17px;
    padding: 0 20px;
}

.mensaje {
    height: 80px;
    width: 70%;
    border: 3px solid #5ea8f7;
    font-size: 17px;
    padding: 0 20px;
}

.contactos {
    background-color: #5ea8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.contactos-item {
    max-width: 40px;
    margin: 30px;
}

.contactos-item img{
    max-width: 100%;
    max-height: auto;
}

.InfoContacto {
    text-align: center;
}
.copyright {
    width: 100%;
    height: 20px;
    text-align: center;
}



